.RectInfo > .com > ul  > li {
    font-size: 1.4rem;
    padding-bottom: 3%;
}
.RectInfo {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-left: 5%;
    padding-top: 10%;
}
.RectInfo img {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.myPgh h1 {
    font-family: "Roboto Material Black" !important;
    padding-left: 30%;
}
.textContent {
    margin-bottom: 5%;
}
.headerFont {
    font-family: "source sans pro extralight" !important;
}
.myListStyle {
    font-family: "source sans pro extralight" !important;
    font-style: italic;
}
.myPgh p {
    font-family: "lora" !important;
    font-style: italic;
    font-weight: 500;
}
.mybtn {
    border-color: white !important;
    background-color: transparent !important;
    color: white !important;
    margin-top: 20px;
}
.mybtn:hover {
    background-color: white !important;
    border-color: lightgrey !important;
    color: black !important;
    font-weight: bold;
}
#showCaseDiv {
    transition: background-color 300ms ease-in-out;
    background-image: url("../Image/Education2.jpg"); 
    background-size: cover;
    background-position: center;
}
.showCase2 {
    background-image: url("../Image/company.jpg");
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 767.98px) {

    .RectInfo {
        height: auto;
        padding:0px;
        margin:0px;
    }
    #showCasrDiv {
        display: hidden;
    }
}